note.md
6cosc022w_cw2_2025 Brief.pdf
README.md
.env
configs/
TravelTales_Configs.zip


# Backend ---------------------------------------------------------------
/backend/api_gateway/node_modules/
/backend/api_gateway/.env

/backend/user_service_api/node_modules/
/backend/user_service_api/.env

/backend/post_manager_service_api/node_modules/
/backend/post_manager_service_api/.env

/backend/rest_countries_service_api/node_modules/
/backend/rest_countries_service_api/.env

/backend/notification_service_api/node_modules/
/backend/notification_service_api/.env

/backend/error_log_service_api/node_modules/
/backend/error_log_service_api/.env

/backend/country_finder_service_api/env/
/backend/country_finder_service_api/hf_cache/
/backend/country_finder_service_api/results.txt

/backend/toxicity_detection_service_api/env/
/backend/toxicity_detection_service_api/hf_cache/
/backend/toxicity_detection_service_api/model_cache/
/backend/toxicity_detection_service_api/results.txt


# Frontend --------------------------------------------------------------
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
/frontend/!.yarn/patches
/frontend/!.yarn/plugins
/frontend/!.yarn/releases
/frontend/!.yarn/versions

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/frontend/.env*

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
