note.md
6cosc022w_cw2_2025 Brief.pdf
.env
configs/
TravelTales_Configs.zip


# Backend ---------------------------------------------------------------
/backend/api_gateway/node_modules/
/backend/api_gateway/.env

/backend/user_service_api/node_modules/
/backend/user_service_api/.env

/backend/post_manager_service_api/node_modules/
/backend/post_manager_service_api/.env

/backend/rest_countries_service_api/node_modules/
/backend/rest_countries_service_api/.env

/backend/notification_service_api/node_modules/
/backend/notification_service_api/.env

/backend/error_log_service_api/node_modules/
/backend/error_log_service_api/.env

/backend/country_finder_service_api/env/
/backend/country_finder_service_api/hf_cache/
/backend/country_finder_service_api/results.txt

/backend/toxicity_detection_service_api/env/
/backend/toxicity_detection_service_api/hf_cache/
/backend/toxicity_detection_service_api/model_cache/
/backend/toxicity_detection_service_api/results.txt


# Frontend --------------------------------------------------------------
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out

# Node
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log

# IDEs and editors
frontend/.idea/
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/*.sublime-workspace

# Visual Studio Code
frontend/.vscode/*
frontend/!.vscode/settings.json
frontend/!.vscode/tasks.json
frontend/!.vscode/launch.json
frontend/!.vscode/extensions.json
frontend/.history/*

# Miscellaneous
frontend/.angular/cache
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings

# System files
frontend/.DS_Store
frontend/Thumbs.db