$primary-color: #0D47A1; // Dark Blue
$secondary-color: #64B5F6; // Light Blue
$white: #ffffff;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  padding: 1rem 10%;
  color: $white;
  flex-wrap: wrap;


  &__left {
    flex: 1;
    cursor: pointer;
    .navbar__brand {
      color: $white;
      font-size: 2.5rem;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__center {
    flex: 2;
    display: flex;
    justify-content: center;

    .navbar__search {
      width: 60%;
      max-width: 400px;
      padding: 0.6rem;
      border: none;
      border-radius: 10px;
    }
  }

  &__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    .btn {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      color: $white;
      cursor: pointer;
      font-weight: 700;

      &.login-btn {
        background-color: $secondary-color;
      }

      &.signup-btn {
        background-color: $secondary-color;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    &__center {
      order: 2;
      margin: 0.5rem 0;
    }

    &__right {
      order: 3;
      justify-content: center;
      margin-bottom: 0.5rem;
    }

    &__left {
      order: 1;
      justify-content: center;
    }
  }
}
