name: Docker CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  country_finder_api_container_build_test_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          cd backend/country_finder_api
          docker build -t ${{ secrets.DOCKER_USERNAME }}/country_finder_api:${{ secrets.COUNTRY_FINDER_API_VERSION }} .

      - name: Tag Docker image with latest
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/country_finder_api:${{ secrets.COUNTRY_FINDER_API_VERSION }} \
                     ${{ secrets.DOCKER_USERNAME }}/country_finder_api:latest

      - name: Run Docker container
        run: |
          docker run -d -p 5000:5000 --name temp_container ${{ secrets.DOCKER_USERNAME }}/country_finder_api:latest
          sleep 5

      - name: Run test script
        run: |
          cd backend/country_finder_api
          wget http://localhost:5000/apidocs/
          python -V
          python test.py

      - name: Stop and remove container
        run: |
          docker stop temp_container
          docker rm temp_container

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: test_results.txt

    #   - name: Push Docker image to Docker Hub
    #     run: |
    #       docker push ${{ secrets.DOCKER_USERNAME }}/country_finder_api:${{ secrets.COUNTRY_FINDER_API_VERSION }}
    #       docker push ${{ secrets.DOCKER_USERNAME }}/country_finder_api:latest

